<h1>Listing http_files</h1>
<%= Rails.application.config.max_filesize %>
<%= @files.count %>
<table>
  <tr>
    <th>Filename</th>
    <th>Size</th>
    <th>Percent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @files.each do |http_file| %>
  <tr>
    <td><%= http_file.filename %></td>
    <td><%= http_file.size %></td>
    <td><%= http_file.percent %></td>
    <td><%= link_to 'Show', http_file %></td>
  </tr>
<% end %>
</table>

<br />

